body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    margin: 2px;
}
h3{
    margin: 2px 0px;
}

.logo {
    color: #E5E7EB;
    font-family: Solo Level Demo;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 8px 0px;
    padding: 12px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 220px;
    align-items: center;
    background-color: #1f2937;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 220px;
    padding-bottom: 120px;
}

.first div , .first p{
    color: #E5E7EB;
}

.first p {
    align-items: center;
    width: 450px;
    margin: 8px 0px;
    line-height: 22px;
}
.main-text{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    width: 450px;

}

.first-container{
    padding: 12px 12px 12px 0px;
}

.image {
    padding: 0px;

    width: 500px;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 2px solid #141b24;

}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.btn{
    background-color: #3882f6;
    padding: 8px;
    border: 0px;
    color: #E5E7EB;
    width: 100px;
    border-radius: 8px; 
}

.second{
    padding: 18px;
    background-color: #fff;
}

.second-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 18px;
    gap: 48px;
    
}

.title-information{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    padding-bottom: 12px;
}

.box-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box img{
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 250px;
    height: 490px;

}

.desc{
    width: 250px;
    text-align: center;
}

.third-section{
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qoute-container{
    display: flex;
    flex-direction: column;
   align-items: flex-end;
   gap: 10px;
}
.qoute{
    display: flex;
    justify-content: center;
    width: 1000px;
    font-size: 24px;
    font-weight: lighter;
    color: #1f2937;
}

.author{
    color: #1f2937;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 4px 0px 0px;
}

.fourth-section{
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta{
    padding: 8px;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    width: 100px;
    border-radius: 8px; 
}

.fourth-section .container{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 12px;
    gap: 12px;
}

h4{
    margin: 0px;
    margin-bottom: 4px;
}

.rectangle-container {
    display: flex;
    background-color: #3882f6;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    padding: 24px 0px;
    width: 800px;
    gap: 10px;
}

.sub {
    font-size: 12px;
    color: #dadbdd;
    margin: 2px 0px;
}

footer {
    background-color: #1f2937;
    padding: 24px;
}

footer div{
    color: #F9FAF8;
    text-align: center;
}
